{% extends "home/admin/baseadmin.html" %}
{% block content %} 
{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Danh Sách Lớp Học</h3>
        </div>
        <div class="panel-body">
          <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                  <th>Mã Lớp</th>
                  <th>Tên Lớp</th>
                  <th>Học Phí Ca</th>
                  <th>Ngày Học</th>
                  <th>Giáo Viên</th>
                  <th>Học Phí</th>
                  <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for item in dsLopHocs %}
                <tr>
                  <td>
                    <a
                      class="nav-link active"
                      href="/dsHocVienLop/{{ item.maLop }}"
                    >
                      {{ item.maLop }}
                  </td>
                  <td>{{ item.tenLop }}</td>
                  <td>{{ item.hocPhi_ca }}</td>
                  <td>{{ item.lichHoc }}</td>
                  <td>{{ item.giaoVien_id }}</td>
                  <td>{{ item.hocPhi_dot }}</td>
                    <td>
                        <a
                        class="btn btn-primary"
                        href="/dsHocVienLopAdmin/{{ item.maLop }}"
                        >
                        Xem
                        </a>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
