{% extends "home/hocVien/baseHV.html" %}
{% block title %}
Thông tin giáo viên
{% endblock title %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thông tin Lớp Học</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã GV</th>
                                        <th>Tên Giáo Viên</th>
                                        <th>Giới Tính</th>
                                        <th>Ngày Sinh</th>
                                        <th>Số Điện Thoại</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item  in hienThiThongTinGV %}
                                    <tr>
                                        <td>{{ item.maGV }}</td>
                                        <td>{{ item.tenGV }}</td>
                                        <td>{{ item.gioiTinh }}</td>
                                        <td>{{ item.ngaySinh }}</td>
                                        <td>{{ item.sdt}}</td>
                                        <td>{{ item.email }}</td>
                                    </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}